/*page*/
::selection{
    background-color: rgba(134,183,31,0.2);
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:12px;
}

/* Menu */
nav >ul.menu>li {
    display:inline;
    list-style: none;
    margin:10px;
    font-size:14px;
    font-weight:bold;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}
nav > ul.menu > a {
    text-decoration: none;
    color: #B9482B;
}
nav > ul.menu > li > a:visited  {
    text-decoration: underline;
    color: #FF00FF;
}
nav > ul.menu>li:first-child::after {
    content:"\0020 \2302"
}
/*titre*/
h1{
    color:#BC8E14;
}
h2, h3, h4{
    color:#729E0E;
}
h4{
    text-decoration: underline;
}
article>h2::before{
    content:"\2708";
}

/*Paragraphes*/

section>p {
    padding:10px;
    border: 1px solid gray;
}
p:not(.description):not(.informations){
    font-style: italic;
}